


body{
    background-image: url(imglotus/gostosin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.berinau{
    padding: 10px;
}
.omaga{
    margin-left: 25%;
}