*{
    margin: 0px;
}

header{
    background-color: black;
    
    height: 35vh;
    
   

}

.logo{
    
 
    padding-left: 42.5%;

}

nav{
    background-color: darkorange;
    position: relative;
    
    
}
a{
    color: #e42c2c;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: lime;
}
h1{
    color: #ee0909;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    
}
footer{
    background-color: black;
    padding-top: 15px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    

}
.p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #e42c2c;
    font-size: x-small;
}
.yes{
    padding-left: 75px;
    padding-bottom: 45px;
    padding-top: 35px;
    
}

.yes:hover{
    cursor: pointer;
    transition: 01s all;
    transform: scale(1.2);
}
main{
    background-image: url(imglotus/gostosin.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cardapio{
    margin-top: 3%;
    margin-bottom: 3%;
}
@media screen and (min-width:0){
    .logo{
        padding-left: 25%;
    }
}
@media screen and (min-width:768px){
    .logo{
        padding-left: 42.5%;
    }
}